body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse{
  background-color: #ffffff;
  border-color: #ffffff;
  position: right;
}

#logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* burger menu*/
.navbar-toggle {
  position: relative;
  padding: 10px 10px;
  margin-top: 10px;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #343a3d;
}

/* menuhover */
.navbar-nav li a {
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-family: HelveticaNeue;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
  color: #343a3d;
  height: 65px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active>a,
.navbar-inverse .navbar-nav > li > a:focus {
  border-bottom: 5px solid  #343a3d;
  transition: all .15s ease-in-out;
  color: #000000;
  background-color: transparent;
}
/* end of hover*/

/* home image*/
.intro-header {
  background: no-repeat;
  background-size: cover;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 120px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  font-family: PT serif;
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: PT serif;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 44px;
  }
}

/* services*/
.col-md-3 {
  margin-top: 15px;
}
.abc-head h3 {
  padding-top: 10px;
  font-family: PT serif;
  font-size: 22;
  font-weight: bold;
}
.abc-image>img{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  display: block;
}
.abc-desc p {
  font-family: Roboto;
  font-size: 14px;
  color: #7e868a;
}
.abc-head, .abc-image, .abc-desc {
  max-width: 255px;
  margin: 0 auto;
}

/* careers */
#temp {
  margin-top: 100px;
  max-height: 30%;
}
hr {
  border-width: 1px;
  margin: 0;
}
.cr-image>img{
  float: right;
  max-width: 100%;
  padding: auto;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 10px;
}
.cr-head>h3{
  font-family: PT serif;
  font-weight: bold;
  font-size: 22px;
  margin-left: 0;
  margin-top: 15%;
}
.cr-desc {
  font-size: 14px;
  color: #7e868a;
  margin-left: 0;
  max-width: 100%;
}
.go-to-careers {
  font-family: Helvetica Neue;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  border: none;
  padding: 13px;
  background-color: #0f75de;
  color: white;
}
.go-to-careers:hover {
  background-color: #0f9cde;
}

/*case studies*/
.cs-studies-head {
  margin-top: 50px;
}
.cs-studies-head>h2 {
  font-family: PT serif;
  font-size: 38px;
  text-align: center;
}
.cs-head {
  margin-top: 20px;
}
.cs-head>p {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  color: #7e868a;
}
.cs-head>h3 {
  font-family: PT serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}
.cs-desc {
  font-family: Roboto;
  font-size: 14px;
  color: #7e868a;
  margin-bottom: 30px;
}
.read-more>a{
  font-family: HelveticaNeue;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #0f75de;
}
.read-more {
  margin-bottom: 20%;
}

/* footer */
.footer-bg-color{
  background-color: #0f75de;
  border-color: #ffffff;
  margin-top: 0;
}
.location>p {
  font-family: HelveticaNeue;
  font-size: 100%;
  font-weight: 200;
  color: white;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}
.hr-footer>hr{
  height: 1px;
  background-color: #2f8bea;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.copyright>p{
  font-family: HelveticaNeue;
  font-size: 100%;
  font-weight: 200;
  text-align: center;
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.list-inline{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}
.fa-stack>i:hover {
  background-color: #0f9cde;
}

/* about head */
.about-head>h3{
  font-family: PT serif;
  font-weight: bold;
  font-size: 38px;
  padding-bottom: 10px;
  padding-top: 5%;
}
.about-desc>p {
  font-family: Roboto;
  font-size: 14px;
  padding-bottom: 10px;
  color: #7e868a;
}
.sec-desc>p {
  font-family: Roboto;
  font-size: 14px;
  padding-bottom: 5%;
  color: #7e868a;
}

/*second banner */
@media only screen and (min-width: 768px) {
  .intro-header1 .site-heading2,
  .intro-header1 .post-heading,
  .intro-header1 .page-heading {
    padding: 120px 0;
  }
}
.intro-header1 .site-heading2,
.intro-header1 .page-heading {
  text-align: center;
}
.intro-header1 .site-heading2 h1,
.intro-header1 .page-heading h1 {
  font-family: PT serif;
  margin-top: 0;
  font-size: 30px;
  color: white;
}
.intro-header1 .site-heading2 .subheading,
.intro-header1 .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: PT serif;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header1 .site-heading2 h1,
  .intro-header1 .page-heading2 h1 {
    font-size: 30px;
  }
}

/* contact */
#image-img {
    margin: 0;
    padding: 0;
}
.media {
  padding-top: 5%;
  /*padding-left: 10%;
  margin-left: 20%;*/
}
.media-body>h4 {
  font-family: PT serif;
  font-size: 20px;
  font-weight: bold;
}
.media-body>p {
  font-family: PT serif;
  font-size: 20px;
  color: #8d9295;
}
.media-left {
  color: #0f75de;
}
.contact-loc {
  padding-top: 10%;
  padding-left: 15%;
  margin-left: 20%;
}

/* responsive */
@media only screen and (max-width: 991px) {
  .image-left>img {
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  .abc-head .abc-image .abc-desc {
    max-width: 50px
  }
  #logo {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .location {
    text-align: center;
  }
  .list-inline {
    text-align: center;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
  background-color: #343a3d;
  }
  .navbar-inverse .navbar-toggle {
  background-color: #343a3d;
  }
  .navbar-toggle {
  margin-top: 25px;
  margin-right: 30px;
  background-image: none;
  }
  .about-head>h3{
    padding-left: 5%;
    padding-right: 5%;
  }
  .about-desc>p {
    padding-left: 5%;
    padding-right: 5%;
  }
  .sec-desc>p {
    padding-left: 5%;
    padding-right: 5%;
  }
  #contact-info {
    margin: 5%;
    padding: 5%;
  }
}

